.codesegment{
    margin: 50px;

    .block{
        border: 2px #212121 solid;
    }
}

.autocomplete-list {
    list-style: none;
    padding: 0;
    margin-top: -5px;
    width: 100%;
    max-width: 500px;
    background: #212121;
    border-radius: 5px;
    overflow: hidden;
    max-height: 200px;
    overflow-y: scroll;
    text-transform: none;
}
  
  .autocomplete-list li {
    padding: 15px;
    color: #a49c9a;
    cursor: pointer;
    transition: background 0.3s;
    text-align: left;
  }
  
  .autocomplete-list li:hover {
    background: #333333;
  }
  