.autocomplete-list {
    list-style: none;
    padding: 0;
    margin-top: -5px;
    width: 100%;
    max-width: 530px;
    background: #212121;
    border-radius: 5px;
    overflow: hidden;
    max-height: 200px;
    overflow-y: scroll;
    text-transform: none;
}
  
  .autocomplete-list li {
    padding: 15px;
    color: #a49c9a;
    cursor: pointer;
    transition: background 0.3s;
    text-align: left;
  }
  
  .autocomplete-list li:hover {
    background: #333333;
  }

  .arrow-icon {
    font-size: 18px;
    margin-left: 100px;
  }

 
/*==== code segment ====*/
.code-segment{
  margin-top: 5px;
  width: 525px;
  text-transform: none;
  padding: 25px;

  button{
    background-color: #494e54;
    padding: 5px;
    border: none;
  }

  .code-block{
    background-color: #474747;
  }
}

/*==== languages ====*/
  .languages-flexbox {
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-bottom: 10px;
    min-height: 35px;
  }
  
  .dropdown {
    position: relative;
  }
  
  .dropdown-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #212121;
    border-radius: 5px;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    width: 150px;
  
    max-height: 35px;
    opacity: 1;
    transition: max-height 0.4s ease;
    z-index: 10;
  }
  
  .dropdown-menu li {
    padding: 10px;
    color: #a49c9a;
    cursor: pointer;
    display: flex;
    align-items: center; 
    justify-content: space-between; 
  }
  
  .dropdown-menu li .arrow-icon {
    font-size: 18px;
    margin-left: 8px;
  }

  .arrow-icon{
    padding-left: 90px;
  }

  .dropdown:hover .dropdown-menu {
    max-height: 500px; 
  }
  
  .dropdown-menu li:hover {
    background-color: #555;
  }
  
  .dropdown-menu li.first-li {
    height: 30px; 
    padding: 0 10px; 
    display: flex;
    align-items: center; 
    justify-content: flex-start;
  }
  
  