.about-page {
    margin: 60px;
    padding-top: 30px;
    opacity: 0;
    transform: translateY(50px);
    animation: slideFadeIn 1.2s ease forwards;
}

@keyframes slideFadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.about-page{

    .about-block{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
        padding: 20px;
        padding-bottom: 50px;

        img{
            max-width: 550px;
            max-height: 275px;
        }

        p{
            text-align: justify;
            max-width: 500px;
        }
    }

}