.about-page {
    margin: 60px;
    opacity: 0;
    transform: translateY(50px);
    animation: slideFadeIn 1.2s ease forwards;
}

@keyframes slideFadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.about-block{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 30px;
    
    padding: 20px;
    padding-bottom: 50px;

    img{
        /* max-width: 31.875rem;
        max-height: 16.563rem; */
        max-width: 510px;
        max-height: 265px;
        width: auto;
        height: auto;
        align-self: center;
    }

    div{
        max-width: 470px;
        max-height: 265px;
        align-self: center;

        h3{
            margin-top: 0px;
            padding-top: 0px;
        }

        
    p{
        text-align: justify; 
    }
    }

}

.about-block-title{
    text-align: center;
    padding-top: 30px;
}

    /* responsiveness */
    @media (max-width: 1200px) {
        .about-page {
            margin: 0px;
        }

        .about-block{
            display: flex;
            flex-direction:column;

            div{
                padding: 0px;
            }

            img{
                margin: 40px;
            }
        }

        .uneven-block{
            img {
                order: 1; 
              }
          
            div {
                order: 2;
            }
        }
    
    }

@media (max-width: 600px) {

    .about-block{

        img{
            max-width: 400px;
        }
    }
    
}
